<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Dashboard</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="box">
        <h1>HomePortal</h1>
        <p>The server is probably running well</p>
        <p>Refresh the page to make sure</p>
        <button onclick="logout()">Logout</button>
    </div>

    <script>
    async function logout() {
        await fetch("/api/logout", {
            method: "POST"
        });

        window.location.href = "/login";
    }
    </script>

</body>
</html>