<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="box">
        <pre id="ascii-art">                                                                                                                              
                                                                                                                              
                                                      #                              ###                           #          
#:   :#                                               #           #                    #                                      
.#   #.                                               #           #                    #                                      
 :# #:   ###   #   #         #:##:   ###    ###    ## #         #####   ###            #     ###    ## #         ###    #:##: 
  # #   #   #  #   #         #  :#     :#     :#  #   #           #    #   #           #    #   #  #   #           #    #  :# 
  :#:   #   #  #   #         #   #  #   #  #   #  #   #           #    #   #           #    #   #  #   #           #    #   # 
   #    #   #  #   #         #   #  #####  #####  #   #           #    #   #           #    #   #  #   #           #    #   # 
   #    #   #  #   #         #   #  #      #      #   #           #    #   #           #    #   #  #   #           #    #   # 
   #    #   #  #:  #         #   #      #      #  #   #           #.   #   #           #.   #   #  #   #           #    #   # 
   #     ###   :##:#         #   #   ###:   ###:   ## #           :##   ###            :##   ###    ##:#         #####  #   # 
                                                                                                       #                      
                                                                                                      :#                      
                                                                                                    :##.                      </pre>

        <input type="password" id="password" placeholder="Password" onkeydown="handleKeyDown(event)">

        <button onclick="login()">Login</button>

        <p id="error" style="color: red;"></p>

    <script src="/static/js/script.js"></script>
</body>
</html>